
.page {
    flex-direction: column;
}
.page .page-header {
    width: 100%;
    flex-direction: column;
}
.page header {
    height: 210px;
    width: 100%;
    background-size: cover;
    filter: brightness(0.8);
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white);
    padding: 1em;
}

.page header ul,
.page header li, 
.page header h1 {
    margin: 0;
    padding: 0;
}


#__next, #contact {
    flex-direction: column;
}



.form {
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.form .fields {
    flex-direction: column;
}

.form .field {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

.form .field label {
    color: var(--grayC);
    font-size: 14px;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    transition: color .3s ease-in-out;
}

.form .field input,
.form .field textarea {
    line-height: 1.5em;
    padding: 10px;
    padding-top: 30px;
    font-size: 14px;
    color: var(--gray5);
    outline: none;
    font-family: 'Open Sans';
    border: var(--grayC) 2px solid;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 0;
    transition: border-color .3s ease-in-out;
}

.form .field input:focus,
.form .field textarea:focus {
    border-color: var(--green);
}

.form .field input:focus + label,
.form .field textarea:focus + label {
    color: var(--green);
}

.form .actions {
    flex-direction: column;
    align-content: center;
}
.form .actions a {
    display: block;
    text-align: center;
    padding: 1em;
    color: var(--gray6);
}

.form button {
    width: 100%;
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: .5em 1em;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
}

.form button:hover {
    background-color: var(--green-hover);
}

.form button:active {
    background-color: var(--green-active);
}

#contact a {
    color: var(--red);
}
#contact a:hover {
    color: var(--black);
}

.show-desktop {
    display: none;
}



#contact.page header {
    background-image: url('/images/header-contact.png');
}

#contact.page > section {
    flex-direction: column;
}

#contact.page #map {
    background-image: url('/images/map.jpg');
    height: 380px;
    width: 100%;
}

#contact.page .contacts {
    margin: 0;
    margin-top: 30px;
    padding: 1em;
    flex-direction: column;
}

#contact.page .contacts li {
    border: var(--grayC) 1px solid;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-bottom: 4em;
    text-align: center;
    color: var(--gray6);
}

#contact.page .contacts li img {
    max-width: 100px;
    background-color: var(--white);
    margin: 0 auto;
    margin-top: -60px;
    padding: 0 15px;
}

#contact.page .contacts li h3 {
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

#contact.page .contacts li p {
    font-weight: 300;
    margin: 0;
    font-size: 25px;
}

@media (min-width: 576px) {
    #contact.page header {
        background-image: url('/images/header-contact@2x.png');
    }
}

@media (min-width: 992px) {
    
    .page header  {
        filter: none;
        align-items: flex-end;
    }
    .page header li {
        font-size: 30px;
    }
    .page header h1 {
        font-size: 100px;
        text-shadow: 0 3px 6px var(--black15);
    }
    .form .fields {
        flex-direction: row;
    }
    .form .fields .field {
        margin-right: 1em;
    }
    .form .fields .field:last-child {
        margin-right: 0;
    }
    .form .actions {
        flex-direction: row;
        justify-content: space-between;
    }
    .form .actions a {
        text-align: right;
    }
    .form .field textarea {
        min-height: 250px;
    }
    .form button {
        max-width: 340px;
    }
    #contact.page header {
        background-image: url('/images/header-contact@3x.png');
        background-position: 0px -22vw;
    }

    #contact.page > section {
        flex-direction: row;
    }
    
    #contact.page > section form,
    #contact.page > section #map {
        flex: 1;
    }
    #contact.page > section #map {
        margin: 1em;
        margin-left: 0;
    }
    #contact.page .contacts {
        flex-direction: row;
    }
    #contact.page .contacts li {
        margin-right: 1em;
    }
    #contact.page .contacts li:last-child {
        margin-right: 0;
    }
    #contact.page hr.divider {
        background-color: var(--grayC);
        height: 1px;
        width: calc(100% - 2em);
        margin: 3em 0;
        border: none;
        display: flex;
        align-self: center;
    }
    #contact.page .contacts li {
        margin-bottom: 2em;
    }
}


@media (min-width: 1200px) {
    #contact {
        min-height: calc(100vh - 378px);
    }
    .show-desktop {
        display: flex;
    }
    .hide-desktop {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    #contact.page .contacts li img {
        background-color: var(--light);
    }
    #contact.page .contacts li {
        border: var(--black50) 1px solid;
        color: var(--black50);
    }
}
